// import reset styles
@import './general/reset';

//header mobile styles
@import './general/headmobile';

//header desktop styles
@import './general/header-desktop';

//menu horizontal styles
@import './general/hori-menu';

//home styles
@import './general/home';

//cards que hacer styles
@import './general/cards-quehacer';

//card que hacer styles
@import './general/card-quehacer';

