// Colores
$verde-logo:#57601E;
$azul-logo: #47677C;
$naranja-logo:#E15D12;
$blanco-logo: #F5F3EF;
$beige-logo: #DEC7AC;

$bg: #FFFFFF;
$text: #333;

// Espaciados
$space-sm: 1rem;
$space-md: 2rem;

// Breakpoints
$tablet: 768px;
$desktop: 1024px;
$desktop-lg: 1200px;
